<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

<!--add this code in you client side for the facebook and google log in   -->
<!-- <% if (!user) { %> (google)
  Home page
  <div>
    <a href="/auth/google">Login</a>
  </div>

  ...................
  <a href="/auth/facebook">Login With Facebook</a>   (facebook)
<% } %> -->

  </body>
</html>
